=render 'layouts/header'
.main-container
  =render 'users/shared/mypage-side-bar'
  .mypage-content
    .mypage-content__chapter-container
      .mypage-content__single-inner
        .mypage-content__single-content
          = link_to destroy_user_session_path, method: :delete, class: 'logouts__btn-red' do
            ログアウト

=render 'layouts/footer'