.mypage_card-content{
width: 700px; 
height: 360px;
background-color: $sell-white;
  .mypage_card-header{
    font-size: 24px;
    padding: 8px 24px;
    text-align: center;
    border-bottom: 2px solid #f5f5f5;
    font-weight: bold;
  }
  .mypage_card_inner{
    padding-top: 65px;
    width: 600px;
    margin: 0 auto;
    border-bottom: 1px solid #eee;
    .card-index{
      max-width: 290px;
      margin: 0 auto;
      .card-sub-header{
        font-size:16px;
        font-weight: bold;
      }
    }
    .card-button-box{
      padding: 24px 0 40px;
      margin: 0 auto;
      width: 315px;
    }
    .add-card{
      margin: 0 auto;
      display: flex;
      .add-card_button{
        background-color: #ea352d;
        border: 1px solid  #ea352d;
        display: block;
        line-height: 50px;
        color: white;
        text-align: center;
        width: 320px;
      }
    }
  }
  .about-pay{
    padding-top: 20px;
    padding-right: 40px;
    text-align: right;
    margin-top: 10px;
    .howto_pay{
    color: #0099e8;
    text-decoration: none;
    font-size: 14px
    }
    
  }
}