.items-box-content.clearfix.category-brand-list{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .items-box {
    width: 188px;
    margin: 10px;
    display: inline-block;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #fff;
    border: 0px solid transparent;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.18);
    &:hover {
      outline: 1px solid  rgb(0, 149, 238);
    }
  }
  .items-box-photo {
    width: 188px;
    height: 188px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    img{
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      vertical-align: top;
      width: 100%;
      z-index: 1;
    }
  }
  .items-box-body {
    position: relative;
    height: 20px;
    padding: 34px 12px;
  }
  .items-box-name {
    font-size: 14px;
    color: #000;
  }
  .items-box-price {
    position: absolute;
    top: -35px;
    left: 0;
    padding: 4px 12px 4px 8px;
    border-radius: 0 16px 16px 0;
    font-weight: 600;
    color: #fff;
    background-color: rgba(0,0,0,0.3);
  }
}