.items-wrapper {
    background: #fff;
    margin: 40px auto 0;
    padding: 24px 16px 55px 16px;
    width: 700px;
    margin: 0 auto;
}
.item-name {
    font-size: 24px;
    text-align: center;
    word-wrap: break-word;
    line-height: 1.4;
}
.item-wording {
    margin: 8px 0 0;
    font-size: 14px;
    color: #888;
    line-height: 1.5;
}
.item-wording a {
    color: currentColor;
}
.item-main-content {
    margin: 16px 0 0;
}
.item-photo {
    position: relative;
    min-width: 280px;
    max-width: 360px;
    min-height: 280px;
    margin: 0 auto;
    background: #fafafa;
}
.visible-sp {
    // display: none;
}
.item-price-box {
    margin: 24px 0 0;
}
.text-center {
    text-align: center;
}
.item-price {
    margin: 0 16px 0 0;
    font-size: 50px;
}
.bold {
    font-weight: 600;
}
.item-tax {
    font-size: 10px;
}
.item-shipping-fee {
    display: inline-block;
    font-size: 16px;
}
.item-btn-float-area {
    bottom: 0;
    left: 0;
    // padding: 6px 16px;
    width: 100%;
    background-color: #fff;
    z-index: 3;
    -webkit-box-shadow: 0 -1px 3px 0 rgba(0,0,0,0.16);
    box-shadow: 0 -1px 3px 0 rgba(0,0,0,0.16);
}
.item-buy-btn {
    display: block;
    margin-top: 16px;
    background: #ea352d;
    font-size: 14px;
    color: #fff;
    line-height: 56px;
    text-align: center;
    font-weight: 600;
    -webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
    
}
.item-buy-btn {
    font-size: 24px;
    line-height: 60px;
}
.item-detail-table {
    float: right;
    max-width: 300px;
    height: 420px;
    margin: 0 auto;
}
.item-detail-table {
    width: 100%;
    max-width: 360px;
    margin: 8px auto 0;
    border-collapse: collapse;
    border: 1px solid #f5f5f5;
}
.item-detail-table th {
    width: 39%;
    text-align: left;
    font-weight: 400;
    background: #fafafa;
    border: 1px solid #f5f5f5;
}
.item-detail-table th, .item-detail-table td {
    border-collapse: collapse;
    border: 1px solid #f5f5f5;
    padding: 16px 8px
}
.item-detail-table th, .item-detail-table td {
    padding: 8px;
}
