.default-container
  = render 'layouts/header'

  .content
    %main.camp-main.camp-page-index{:role => "main"}
    %section.camp-keyvisual
      %h2
        %img{:alt => "メルカリなら新品も中古もお得！キャンプ用品 大特集！", :src => "//www-mercari-jp.akamaized.net/assets/img/featured/camp/index/index_keyvisual.png?465897195"}/
    .item__content
      %h2.item__content__header 人気のカテゴリー
      .item__box
        %ul.item__box--search
          %li
            %a.item__box--search-genre レディース
          %li
            %a.item__box--search-genre メンズ
          %li
            %a.item__box--search-genre 家電・スマホ・カメラ
          %li
            %a.item__box--search-genre おもちゃ・ホビー・グッズ
  .sc-gtfDJT.kfypOL
    .sc-fOICqy.nBmDG
      .sc-eInJlc.cgfpuT.sc-chbbiW.kHQmYB{:name => "scroll-1"}
        %h3.style_heading__3qSF6.common_fontFamily__3-3Si.style_responsiveLv2__3K0hn.sc-kxynE.icXKoL レディース新着アイテム
        %a.sc-cooIXK.cVpVcG{:href => "/jp/category/1/"} もっと見る
      .sc-likbZx.eBHtrH
        %div
          %ul.sc-eMigcr.jpYgbZ
            %li.sc-itybZL.kxreZ
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.style_link__3tLB3.style_fluidLink__WTcwb{:href => ""}
                  %figure.style_card__1SiAF.style_responsiveLv1__26FNN.common_fontFamily__3-3Si.style_fluid__19gwX
                    %figcaption
                      %span バーバリー　カシミアマフラー
                    .style_thumbnail__N_xAi
                      %span{"aria-label" => "Price"} ¥12,000
                      %img{:alt => "Thumbnail of \"バーバリー　カシミアマフラー\"", :src => "https://static.mercdn.net/thumb/photos/m55035705078_1.jpg?1572411982"}/
            %li.sc-itybZL.kxreZ
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.style_link__3tLB3.style_fluidLink__WTcwb{:href => ""}
                  %figure.style_card__1SiAF.style_responsiveLv1__26FNN.common_fontFamily__3-3Si.style_fluid__19gwX
                    %figcaption
                      %span ルイヴィトン シガレットケース タバコケース
                    .style_thumbnail__N_xAi
                      %span{"aria-label" => "Price"} ¥2,500
                      %img{:alt => "Thumbnail of \"ルイヴィトン シガレットケース タバコケース\"", :src => "https://static.mercdn.net/thumb/photos/m46909996434_1.jpg?1568259486"}/
              %li.sc-itybZL.kxreZ
                %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                  %a.style_link__3tLB3.style_fluidLink__WTcwb{:href => ""}
                    %figure.style_card__1SiAF.style_responsiveLv1__26FNN.common_fontFamily__3-3Si.style_fluid__19gwX
                      %figcaption
                        %span 未使用 BOSCH ボッシュ コート アウター ジャケット
                      .style_thumbnail__N_xAi
                        %span{"aria-label" => "Price"} ¥6,500
                        %img{:alt => "Thumbnail of \"未使用 BOSCH ボッシュ コート アウター ジャケット\"", :src => "https://static.mercdn.net/thumb/photos/m41778730680_1.jpg?1572411983"}/
            %li.sc-itybZL.kxreZ
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.style_link__3tLB3.style_fluidLink__WTcwb{:href => ""}
                  %figure.style_card__1SiAF.style_responsiveLv1__26FNN.common_fontFamily__3-3Si.style_fluid__19gwX
                    %figcaption
                      %span 【ユニクロ】ジーパン
                    .style_thumbnail__N_xAi
                      %span{"aria-label" => "Price"} ¥650
                      %img{:alt => "Thumbnail of \"【ユニクロ】ジーパン\"", :src => "https://static.mercdn.net/thumb/photos/m26612552772_1.jpg?1572274334"}/
            %li.sc-itybZL.kxreZ
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.style_link__3tLB3.style_fluidLink__WTcwb{:href => ""}
                  %figure.style_card__1SiAF.style_responsiveLv1__26FNN.common_fontFamily__3-3Si.style_fluid__19gwX
                    %figcaption
                      %span INTAR FACTORY ミニタリーフードコート
                    .style_thumbnail__N_xAi
                      %span{"aria-label" => "Price"} ¥3,500
                      %img{:alt => "Thumbnail of \"INTAR FACTORY ミニタリーフードコート\"", :src => "https://static.mercdn.net/thumb/photos/m25771690431_1.jpg?1572411983"}/
            %li.sc-itybZL.kxreZ
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.style_link__3tLB3.style_fluidLink__WTcwb{:href => ""}
                  %figure.style_card__1SiAF.style_responsiveLv1__26FNN.common_fontFamily__3-3Si.style_fluid__19gwX
                    %figcaption
                      %span H&M エイチアンドエム クロコミニハンドバッグ
                    .style_thumbnail__N_xAi
                      %span{"aria-label" => "Price"} ¥3,500
                      %img{:alt => "Thumbnail of \"H&M エイチアンドエム クロコミニハンドバッグ\"", :src => "https://static.mercdn.net/thumb/photos/m81480862049_1.jpg?1572411982"}/
            %li.sc-itybZL.kxreZ
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.style_link__3tLB3.style_fluidLink__WTcwb{:href => ""}
                  %figure.style_card__1SiAF.style_responsiveLv1__26FNN.common_fontFamily__3-3Si.style_fluid__19gwX
                    %figcaption
                      %span 正規LOUIS VUITTON ブラウン モノグラム手帳カバー19wx4-206
                    .style_thumbnail__N_xAi
                      %span{"aria-label" => "Price"} ¥8,500
                      %img{:alt => "Thumbnail of \"正規LOUIS VUITTON ブラウン モノグラム手帳カバー19wx4-206\"", :src => "https://static.mercdn.net/thumb/photos/m80327322993_1.jpg?1570166472"}/
            %li.sc-itybZL.kxreZ
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.style_link__3tLB3.style_fluidLink__WTcwb{:href => ""}
                  %figure.style_card__1SiAF.style_responsiveLv1__26FNN.common_fontFamily__3-3Si.style_fluid__19gwX
                    %figcaption
                      %span ジャンバースカート黒
                    .style_thumbnail__N_xAi
                      %span{"aria-label" => "Price"} ¥800
                      %img{:alt => "Thumbnail of \"ジャンバースカート黒\"", :src => "https://static.mercdn.net/thumb/photos/m75062213569_1.jpg?1572411982"}/
            %li.sc-itybZL.kxreZ
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.style_link__3tLB3.style_fluidLink__WTcwb{:href => ""}
                  %figure.style_card__1SiAF.style_responsiveLv1__26FNN.common_fontFamily__3-3Si.style_fluid__19gwX
                    %figcaption
                      %span バッグ
                    .style_thumbnail__N_xAi
                      %span{"aria-label" => "Price"} ¥4,000
                      %img{:alt => "Thumbnail of \"バッグ\"", :src => "https://static.mercdn.net/thumb/photos/m53942944936_1.jpg?1571812939"}/
            %li.sc-itybZL.kxreZ
              %div{:style => "visibility: visible; transition: all 0.5s ease 0s; opacity: 1;"}
                %a.style_link__3tLB3.style_fluidLink__WTcwb{:href => ""}
                  %figure.style_card__1SiAF.style_responsiveLv1__26FNN.common_fontFamily__3-3Si.style_fluid__19gwX
                    %figcaption
                      %span チェック スカート
                    .style_thumbnail__N_xAi
                      %span{"aria-label" => "Price"} ¥900
                      %img{:alt => "Thumbnail of \"チェック スカート\"", :src => "https://static.mercdn.net/thumb/photos/m46731913408_1.jpg?1572411982"}/
 
  %aside.app-banner
    .app-banner-mine
      .app-banner-inner
        .app-banner-flm
          %h2 スマホでかんたんフリマアプリ
        .app-banner-doun
          %p 今すぐ無料ダウンロード！
        .app-banner-icon
          %ul.clearfix
            %li
              = link_to image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?465897195", width:'68', alt:"")
            %li
              =link_to image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?465897195", width:'133', height:'40', alt:"")
            %li
              = link_to image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?465897195", width:'133', height:'40', alt:"")
      %figure
        = link_to image_tag("sumaho.png", height:'300', width:'260', alt:"")
  
  =render 'layouts/footer'
