.default-container
  = render 'layouts/header'

  .content
    %main.camp-main.camp-page-index{:role => "main"}
    %section.camp-keyvisual
      %h2
        %img{:alt => "メルカリなら新品も中古もお得！キャンプ用品 大特集！", :src => "//www-mercari-jp.akamaized.net/assets/img/featured/camp/index/index_keyvisual.png?465897195"}/
    
  %aside.app-banner
    .app-banner-mine
      .app-banner-inner
        %h2 スマホでかんたんフリマアプリ
        %p 今すぐ無料ダウンロード！
        .app-banner-icon
          %ul.clearfix
            %li
              = link_to image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?465897195", width:'68', alt:"")
            %li
              =link_to image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?465897195", width:'133', height:'40', alt:"")
            %li
              = link_to image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?465897195", width:'133', height:'40', alt:"")
      %figure
        = link_to image_tag("sumaho.png", height:'300', width:'260', alt:"")
  
  =render 'layouts/footer'
