.global-footer {
  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-weight: 500;
  color: rgb(255, 255, 255);
  padding: 15px 210px 10px;
  background: rgb(33, 33, 33);
}
.clearfix {
  content: '';
  display: flex;
  clear: both;
}
.footer-cell {
  padding: 0 20px 0 0;
  // width: 20%;
  // text-align: center;
}
.global-footer a {
  color: #fff;
  font-size: 12px;
  line-height: 3em;
}
.footer-logo {
  display: inline-block;
  margin-right: 10px;
  width: auto;
  float: left;
}
.image__tage {
  vertical-align: middle;
}

.footer-copyright small {
  font-size: 12px;
}
.custom-banner-dialogue {
  background: #efefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 15px 8px;
  position: relative;
  z-index: 1;
}
.footer-bottom {
  margin: 30px auto 20px;
  width: 1020px;
  text-align: center;
}
.footer-copyright {
  display: inline-block;
  margin: 8px 0 0;
  text-align: center;
  vertical-align: sub;
}

