.default-container {
    
  .sp-header-inner {
    height: 36px;
    width: 134px;
    float: left;
  }

  .sp-header-search.input-default {
      background-color: rgb(245, 245, 245);
      font-size: 16px;
      height: 40px;
      line-height: 1.4em;
      position: relative;
      width: 70%;
      -webkit-appearance: none;
      border-width: 1px;
      border-style: solid;
      border-color: rgb(204, 204, 204);
      border-image: initial;
      border-radius: 4px;
      outline: none;
      padding: 0px 50px 0px 10px;
      transition: all 0.3s ease-out 0s;
  }
}