@import "font-awesome";
@import "config/reset";
@import "config/colors";
@import "./signups";

body{
  font-family:'Source Sans Pro', Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  color: rgb(51, 51, 51);
  background: $bg-deafult;
  position: relative;
}