.sell-main{
  width: 700px;
  margin: 0 auto;
  .sell-container{
    .sell__head{
      text-align: center;
      line-height: 1.5;
      font-size: 22px;
      padding: 32px 16px;
    }
      .sell-form{
        border-top :1px solid red;
        .sell-upload__box{
            background-color: aqua;
            width: 620px;
            padding: 40px;
            position: relative;
            .sell-upload__head {
              font-size: 16px;
            }      
        .sell-upload__image-box{
          background-color: red;
          border: 1px dashed white;
          min-height: 162px;
          text-align: center;
          cursor: pointer;
          input.sell-upload__file{
            -webkit-appearance: none;
            border: 0;
            outline: 0;
            font: 400 11px system-ui;
            font-family: inherit;
            // display: none;
            touch-action: auto;
          }
          .visible-pc{
            position: absolute;
            top: 50%;
            left: 16px;
            right: 16px;
          }
        }
        }
    }
    }
  }